body {
  /* width: max-content; */
}

nav {
  /* background-color: rgb(21, 21, 22); */
  color: rgb(52, 49, 49);
  /* height: 80px; */
}

.heading {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  height: 125vh;
}

.video-- {
  width: 150%;
  z-index: 1;
}

.dictionary {
  text-align: center;
  min-height: 80vh;
  background-color: black;
  color: whitesmoke;
  font-size: 2rem;
}

.word-col {
  text-align: center;
  align-content: center;
  z-index: 99;
}
