body {
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff004d;
  color: #ffffff;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 100;
  padding: 20px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  height: 125vh;
}

.video-- {
  width: 150%;
  z-index: 1;
}

.word-col {
  text-align: center;
  align-content: center;
  z-index: 99;
  padding: 1rem;
}

.w-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.w-day {
  font-size: 5rem;
  font-weight: 600;
  color: #ff004d;
  border-bottom: 3.5px solid #ff004cd8;
  margin-bottom: 20px;
}

.w-define {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.dictionary {
  align-content: center;
  min-height: 80vh;
  background: rgb(234, 234, 234);
  color: rgb(251, 249, 249);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
  color: #222121;
}

.def-col-1 {
  min-height: 60vh;
  position: relative;
  align-content: center;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
}

.def-col-2 {
  background: rgb(33, 32, 32);
  color: #f7f7f7;
  padding: 3rem;
  align-content: center;
}
.def-col-3 {
  background: #ff004d;
  color: rgb(37, 37, 37);
  padding: 3rem;
}

#add-word-btn,
#dictionary-btn {
  background-color: #f7fd04;
  color: #222121;
  margin-top: 20px;
}
#dictionary-btn:hover,
#add-word-btn:hover {
  background: #ff004d;
}

button {
  color: rgb(34, 32, 32);
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgb(23, 22, 22);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

textarea,
.input-word {
  border-radius: 30px;
  padding: 15px;
  border: 2px solid #ff004d;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
#dictionary-btn {
  font-size: 1rem;
  border-radius: 45%;
  width: 50px;
}

.text-col {
  background-color: rgb(33, 32, 32);
  color: #f7f7f7;
  align-content: center;
  text-align: center;
  padding: 3rem;
  min-height: 80vh;
}

.cl-title {
  font-weight: 800;
  color: #f7fd04;
}

.cloud-btn {
  background-color: #f7fd04;
  color: #222121;
}
.cloud-col {
  overflow: hidden;
}

.wc-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.wc-image {
  width: 80%;
}

#word-- {
  text-decoration: underline;
}

.list-item {
  color: white;
  font-size: 1.5rem;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .heading {
    display: grid;
    grid-template-columns: 1fr;
    height: 90vh;
  }
  .wc-section {
    display: flex;
    flex-direction: column;
  }

  .video-- {
    padding-top: 5rem;
    width: 100%;
    z-index: 1;
  }

  .dictionary {
    align-content: center;
    min-height: 80vh;
    background: rgb(28, 28, 28);
    color: rgb(251, 249, 249);
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    color: #222121;
  }

  .def-col-1 {
    border-top: 30px solid #f7fd04;
  }
}
