body {
  /* font-family: "Archivo Black", sans-serif; */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff004d;
  color: #ffffff;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 100;
  padding: 20px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  height: 125vh;
}

.video-- {
  width: 150%;
  z-index: 1;
}

.dictionary {
  text-align: center;
  min-height: 100vh;
  background: rgb(234, 234, 234);
  /* background: url(./assets/words-bkg.png); */
  color: rgb(251, 249, 249);
}

.word-col {
  text-align: center;
  align-content: center;
  z-index: 99;
  padding: 1rem;
}

.w-title {
  font-size: 2rem;
}
.w-day {
  font-size: 4rem;
  font-weight: 800;
}

.w-define {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.sec-text {
  margin-top: 5rem;
  padding: 5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 70%;
  background: rgb(33, 32, 32);
  border-radius: 30px;
}

button {
  /* background-color: #084887; */
  color: rgb(34, 32, 32);
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgb(23, 22, 22);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-word {
  border-radius: 30px;
  padding: 12px;
  border: 0.5px solid whitesmoke;
  width: 350px;
  background-color: rgb(255, 255, 255);
}
#dictionary-btn {
  font-size: 1rem;
  border-radius: 45%;
  width: 50px;
}

.def-info {
  border-top: 40px solid gold;
  /* padding: 2rem; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* margin-top: 50px; */
  height: 200px;
  width: 300px;
  color: rgb(33, 32, 32);
}

.text-col {
  background-color: rgb(33, 32, 32);
  color: #f7f7f7;
}

.cloud-col {
  padding: 3rem;
}

.wc-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.wc-image {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .heading {
    display: grid;
    grid-template-columns: 1fr;
    height: 125vh;
  }
  .wc-section {
    display: flex;
    flex-direction: column;
  }
}
